<div class="jn">
  <div class="input-group">
    <span class="input-group-addon">用户名</span>
    <input id="u1" ng-model="username" type="text" class="form-control" placeholder="用户名">
  </div>

  <div class="input-group">
    <span class="input-group-addon">密码</span>
    <input ng-model="password" type="password" class="form-control" placeholder="密码">
  </div>

  <div class="input-group">
    <span class="input-group-addon">邮箱</span>
    <input ng-model="email" type="text" class="form-control" placeholder="邮箱">
  </div>

  <button type="button" class="btn btn-success" ng-click="add()">提交</button>
</div>
